$primary_color:#272727;
$secondary_color:#ff652f;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@mixin transition_ease {
    transition: all 0.5s ease-in-out;
}
@function set_text_color($color){        // if primary color is dark return white
    @if(lightness($color)>40%){
        @return #000;
    }@else{
        @return #fff;
    }
}

// media queries ---this is last part
@mixin media-md{
    @media screen and(min-width:768px){
        @content;

    }
}
@mixin media-lg{
    @media screen and(min-width:1024px){
        @content;
    }
}@mixin media-xl{
    @media screen and(min-width:1200px){
        @content;
    }
}
