.contacts{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
    linear-gradient(to right,rgba($primary_color,0.9),rgba($primary_color,0.1)),//color&Opacity
    url(../img/model-1.jpg) center top;
    background-size: cover;

    h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    &_list{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }
    .social_icon{
        position: initial;        // earlier postion when no changes were done--default position
        margin-top: 2rem;
    }
}